<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/homepage.css">
</head>
<body>
<div id = "main">
    <div class="container form-container">
        <div style="text-align: center;"><h2 class="form-title">GoHappy Household Services</h2> </div>
        <br>
        <div style="text-align: center;"><h3 class="form-title">Are you a?</h3> </div>
        <form>
            <!-- Submit Button -->
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div style="text-align: left;">
                    <a href="/login_customer" type="submit" class="btn btn-primary btn-lg">Customer</a>
                </div>
                <!-- <div style="text-align: right;">
                    New?
                    <a href="#" style="color:rgb(253, 129, 87);"><h6 style="display: inline;">Signup!</h6></a>
                </div> -->
                <div style="text-align: right;">
                    <a href="/login_professional" type="submit" class="btn btn-primary btn-lg">Professional</a>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>