<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
<div id = "main">
    <div class="container form-container">
        <div style="text-align: center;"><h2 class="form-title">Admin Login</h2> </div>
        <form id = "login_button" action="/login_admin" method="post">
            
            <div class="form-group">
                <label for="fullName"><b>Email</b></label>
                <input type="email" class="form-control" id="fullName" placeholder="Enter registered email" name="emailid" required>
            </div>
            
            <div class="form-group">
                <label for="contactNumber"><b>Password</b></label>
                <input type="password" class="form-control" id="contactNumber" placeholder="Enter password" name="pswd" required>
            </div>

            <!-- Submit Button -->
            <!-- <div style="display: flex; justify-content: space-between; align-items: center;">
                <div style="text-align: left;">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div> -->

        </form>

    </div>
    <div id ="new">
        <button form = "login_button" type="submit" class="btn btn-primary">Login</button>
    </div>
</div>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>