<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin Summary</title>
<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link rel="stylesheet" href="/static/dashb.css">
</head>


<body>
<div id = "main">
<div id = "box">

      <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
      <div class="container-fluid">
      <a class="navbar-brand" href="#">GoHappy Household Services</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      <a class="nav-link active" aria-current="page" href="/dashb_admin">Home</a>
      <a class="nav-link" href="/search_admin">Search</a>
      <a class="nav-link" href="#"><b>Summary</b></a>
      <a class="nav-link" href="/login_admin">Logout</a>
      </div>
      </div>
      </div>
      </nav>

      <br><br><br>

      <div class="chart-container">
        <img src="/static/statusbycount.png" alt="status" class="chart">
        <img src="/static/ratingspie.png" alt="ratings" class="chart">
      </div>

</div>
</div>
</body>
</html>